div{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: white;
    margin: 20px;
    padding: 30px;
    text-align: center;
}

.back{
    border: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 30px;
    top: 0;
   
}

.staticBox{
    position: static;
}

.fixedBox{
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    margin: 0px;
}

.floatBox{
    float: left;
    height: 50px;
    width: 42.94%;
    text-align: right; 
}

.relativeBoxes{
    position: relative;
    padding: 140px;
    clear: left;
}

.absoluteBoxes{
    position: absolute;
}

#absBoxLT{
    left: 0;
    top: 0;
}

#absBoxLB{
    left: 0;
    bottom: 0;
}

#absBoxRT{
    right: 0;
    top: 0;
}

#absBoxRB{
    right: 0;
    bottom: 0;
}


.floatBoxB{
    float: left;
    width: 12%;
}

#float{
    position: relative;
    height: 30px;
    bottom: 12px;
}

#float1{
    position: relative;
    left: 100px;
    height: 33px;
    bottom: 16px;
}