html {
    background: #00FF00;
}

body{
     text-align: center;
     margin: 40px;
     font-size: 20px;
}

.title{
    font-size: 40px;
    margin: 50px;
    border-bottom: 5px solid #aa0719;
}

.title_title{
    font-size: 30px;
    margin: 47px;
    border-bottom: 5px solid chocolate;
}

.main_page{
    background-color: violet;
}





