body{
margin: 0px;
}
div{
border: 2px solid #222;
margin: 20px 30px 20px 30px; /*top right bottom left*/
padding: 30px;
text-align: center;
}

.static{
   
}

.fixed{
position: fixed;
top: 0px;
right: 0px;
}

.float1{
text-align: right;
}

.float2{

}

.relative{
position: relative;
}

.absolute1{

}

.relative .absolute2{

}

.absolute3{
    
}
.absolute4{
    
}

.float3{
   
}

.float4{
 
}

.float5{
    
}

.float6{
    
}

.float7{
    
}

