.main_block{
    width: 800px;
    margin: 0 auto;
    background-color: #d8d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.main_block .item{
    width: 140px;
    background-color: yellow;
    height: 140px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
}
/*            .main_block .item:nth-child(5n){
    margin-right: 0px;
}*/

.clear{
    clear: both;
}



@media screen and (max-width:860px){
    .main_block{
        width: 650px;
        justify-content: space-around;
    }
    .main_block .item{
        background-color: palegreen;
        
    }
}

@media screen and (max-width:650px){
    .main_block {
        width: 100%;
    }
    .main_block .item{
        background-color: yellow;
    }
    
    .main_block .item:nth-child(3n){
        display: none;
    }
}
